html {
    background-color: rgb(221, 201, 179)
}

main {
    width: 955px;
    margin: -1px auto 10px;
    border: 1px solid rgb(221, 201, 179);
    background-color: rgb(226, 211, 194);
    font-family: Arial, Helvetica, sans-serif
}

header {
    width: 955px;
    height: 95px
}

nav {
    width: 955px;
    background-color: rgb(90, 52, 11)
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 4px
}

nav ul li {
    display: inline-block
}

nav ul li a {
    font-size: 0.85em;
    text-decoration: none;
    color: #FFF;
    padding: 4px 20px
}

nav ul li a:hover {
    background-color: rgb(136, 92, 45)
}

article {
    float: left;
    margin: 30px 20px;
    width: 600px
}

article header hgroup h1 {
    margin: 0;
}

article header hgroup h5 {
    margin: 0;
    font-size: 1.1em;
    color: rgb(136, 92, 45);
    font-weight: 100;
}

article address {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 0.95em;
    color: #555;
    font-style: normal;
    letter-spacing: -0.05em;
    margin: 0 20px;
}

aside {
    float: left;
    width: 230px;
    border-top: 1px solid rgb(136, 71, 18);
    border-bottom: 1px solid rgb(136, 71, 18);
    padding: 5px 15px 0;
    font-style: italic;
    font-size: 18px;
    margin-right: 20px;
    margin-bottom: 20px;
}

aside p {
    color: rgb(160, 128, 93);
}

#apoio {
    float: right;
    width: 300px;
    margin-top: 30px;
}

footer {
    clear: both;
    width: 700px;
    margin: 0 auto;
    font-size: 0.75em;
    text-align: center;
    background-color: rgb(226, 211, 194);
    padding: 5px
}

h1,
h2,
h4 {
    font-family: Georgia, "Times New Roman", Times, serif;
    color: rgb(136, 71, 18);
    font-style: italic;
    letter-spacing: -0.05em
}

h1 {
    font-size: 2.6em;
    margin: 0 5px;
}

h4 {
    font-size: 1.6em;
    margin: 0 5px;
}

p,
small,
li {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 0.9em;
    color: #555;
    line-height: 1.8
}